/* src/styles.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ffcc00;
}
/* PostList.js*/
.post-list {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}
.postContent {
  display: flex;
  flex-direction: column;
}
.post-list .postContent {
  width: 33%;
  display: flex;
  max-height: 600px;
}
.post-list .post-img {
  width: 100%;
  height: 100%;
}
.post-list .post-img img {
  width: 100%;
  height: 500px;
}
